$color-array-grid:
        "black" #000,
        "white" #fff
!default;

.atom-column {
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__background {
      padding: 20px 15px;
      height: 100%;
    }
    &__wrapper {
      height: 100%;

      &.m-1 {
        height: calc(100% - 0.25rem);
      }
      &.m-2 {
        height: calc(100% - 0.5rem);
      }
      &.m-3 {
        height: calc(100% - 1rem);
      }
      &.m-4 {
        height: calc(100% - 1.5rem);
      }
      &.m-5 {
        height: calc(100% - 3rem);
      }
    }
}

.diu-grid-alignment-center .atom-column__background {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.diu-grid-alignment-bottom .atom-column__background {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

@each $colorClass, $colorVar in $color-array-grid {
    .atom-column .bg-color-#{$colorClass} {
        background-color: $colorVar;
    }
}

@media screen and (min-width: 540px) {
    .atom-column {
        margin-bottom: 0;
    }
}
